<div class="section vote-for-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <p>Vote for us to support maintenance of current projects and development of new ones.</p>
            </div>
            <div class="col-12 col-md-2 offset-md-1">
                <a href={{vote_url}} class="btn btn-primary btn-block" target="_blank" rel="noopener noreferrer">
                    Vote for Eon
                </a>
            </div>
        </div>
    </div>
</div>