$grid-breakpoints: ("xs": 0, "sm": 600px, "md": 800px, "lg": 1000px, "xl": 1440px, "xxl": 1920px)

$body-bg: #f1f1f1
$body-color: #454545

$primary: #6772e5

@import "ember-mdi"
@import "ember-bootstrap/bootstrap"

/* -----------------------------
  GENERAL STYLES
  ----------------------------- */
html
  overflow-y: scroll
  font-size: 16px

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-image: url("/assets/images/dot_pattern.svg")
  background-size: 100rem
  background-position-y: -7%

h1, h2, h3, h4, h5, h6, .navbar
  font-family: 'Titillium Web', sans-serif
  font-weight: 600

code
  border-radius: 0.2rem
  background: #f1f1f1
  padding: .2rem .4rem

.hidden
  display: none

.transparent, .transparent[readonly]
  opacity: 0
  transition: all 0.5s
  &.visible
    opacity: 1
    transition: all 0.5s

.input-group-append
  margin-left: -2px

.form-control
  height: calc(1.5em + 0.75rem + 4px)
  border: 2px solid #6c747d
  &:focus
    border: 2px solid #6772e5

a
  transition: color 0.5s
  font-weight: 500
  &:hover
    color: #32325d
    transition: color 0.5s
    text-decoration: none
    .arrow
      transform: translateX(0.5rem) translateY(-1px)
      transition: transform 1s
  .arrow
    width: 1rem
    height: auto
    transform: translateX(0.1rem) translateY(-1px)
    transition: transform 1s
    .path
      fill: none
      stroke: $primary
      stroke-width: 4
      stroke-linecap: round
      stroke-linejoin: round
      stroke-miterlimit: 10

a svg
  transition: fill 0.5s

a:hover svg
  transition: fill 0.5s

.btn
  border: none
  font-family: 'Titillium Web', sans-serif
  font-weight: 700
  transition: background-color 0.5s
  height: calc(1.5em + 0.75rem + 4px)
  line-height: 1.4
  &[class*="btn-outline-"]
    border-width: 2px
    border-style: solid
  &:active
    outline: none
  &:hover
    transition: background-color 0.5s

.hide
  display: none

.card
  background: #fff
  border-radius: 1rem
  padding: 2rem 2rem 2rem 2rem
  border: none
  p:last-of-type
    margin: 0

.popover
  box-shadow: 0 0.55rem 1rem 0 rgba(0,0,0,0.15)
  border-color: rgba(0,0,0,0)
  .arrow
    &:before
      border: none

svg
  &.icon
    width: 1.5rem
    height: 1.5rem
  .purple-fill
    fill:#656fb1

.copy-btn
  &.unstyled
    border: none
    padding: 0
    background: transparent
    display: inline-flex
    &:active
      outline: none

.np
  padding: 0

/* -----------------------------
  HEADER
  ----------------------------- */
header
  position: relative
  overflow: hidden
  #decor
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -10
    overflow: visible
    #triangle
      will-change: opacity, transform
      position: absolute
      top: 0
      right: -5rem
      opacity: 0
      animation: 3s ease-out forwards triangle-animation, 3s ease-out forwards fade-in
      animation-delay: 0.5s
      width: 70rem
      height: auto
    #remme
      stroke: #ab804b
      stroke-dasharray: 40 10 20 30
      stroke-linecap: round
      stroke-width: 1
      will-change: opacity, transform, stroke-dashoffset
      animation: 20s ease-in-out infinite remme-hover, 10s linear infinite stroke-animation, 1s ease-out forwards fade-in
      position: absolute
      animation-delay: 3s
      opacity: 0
      top: 8rem
      right: 5rem
      width: 25rem
      height: auto
    #cube1
      position: absolute
      stroke-dasharray: 40 10 20 30
      stroke-width: 4
      will-change: transform
      animation: 18s ease-in-out infinite cube1-hover, 10s linear infinite stroke-animation, 1s ease-out forwards fade-in
      animation-delay: 4s
      top: 6rem
      right: 30rem
      opacity: 0
      width: 6.25rem
      height: auto
    #cube2
      position: absolute
      stroke-dasharray: 40 10 20 30
      stroke-width: 5
      will-change: transform
      animation: 12s ease-in-out infinite cube2-hover, 10s linear infinite stroke-animation, 1s ease-out forwards fade-in
      animation-delay: 5s
      top: 12rem
      right: 3rem
      opacity: 0
      width: 5rem
      height: auto

  #logo
    width: 4rem
    height: 2rem
    fill: #454545

  #logo:hover
    fill: $primary

  .navbar-nav .nav-link svg
    fill: rgba(69, 69, 69, 0.7)

  .navbar-nav .nav-link:hover svg
    fill: rgba(69, 69, 69, 1)

  .navbar-nav .nav-link
    color: rgba(69, 69, 69, 0.7)
    position: relative
    font-weight: 600

  .navbar-nav .nav-link.active
    color: rgba(69, 69, 69, 1)

  .navbar-nav .nav-link.active:not(.social)::after
    opacity: 1
    transform: translateX(-50%) translateY(0)

  .navbar-nav .nav-link:not(.social):hover::after
    opacity: 1
    transform: translateX(-50%) translateY(0)
    transition: all 1s

  .navbar-expand-lg .navbar-nav .nav-link:not(.social)
    padding-left: 1rem
    padding-right: 1rem

  .navbar-nav .blog
    border-left: 2px solid rgba(124, 103, 49, 0.1)
    padding-left: 0.5rem
    margin-left: 1rem

  .navbar-nav .nav-link:not(.social)::after
    content: ""
    width: 0.25rem
    height: 0.25rem
    background: #f1f1f1
    border-radius: 100%
    bottom: 0
    left: 0
    margin: 0 0 0 50%
    transform: translateX(-50%) translateY(1rem)
    display: block
    opacity: 0
    transition: all 1s

body:not(.index) .navbar-nav .nav-link:not(.social)::after
  background: $primary

#banner
  padding: 10rem 0
  h1
    font-weight: 400
    font-size: 3.5rem
    margin: 0 0 1.5rem 0
    span
      display: block
  p
    font-size: 1.1rem
    margin: 0 0 2rem 0
  .cta-wrap
    justify-content: flex-start
    #cta
      position: relative
      border-radius: 2rem
      padding: 1rem 1.5rem
      font-size: 1.5rem
      line-height: 1rem
      span
        position: absolute
        bottom: 0
        left: 0
        background: #ffffff
        text-transform: uppercase
        font-size: 0.7rem
        color: #454545
        transform: translateX(-50%) translateY(50%)
        margin: 0 0 0 50%
        white-space: nowrap
        padding: 0.2rem 0.4rem
        border-radius: 0.25rem
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1)
    .why
      margin: 0 0 0 1.5rem
      font-weight: bold
      border-bottom: 2px solid $primary
/* -----------------------------
  CONTENT
  ----------------------------- */
.home
  p
    font-size: 1.2rem
    margin-bottom: 3rem

.section
  padding: 10rem 0
  h2
    margin: 0 0 3rem 0

#highlight
  display: flex
  flex-direction: row
  background: $primary
  color: #fff
  .failed
    text-align: center
    font-weight: bold
    color: #c1c7ff
    padding: 4rem 0
    width: 570px
    display: block
  .label, .title
    display: block
  .label
    text-transform: uppercase
    font-weight: 600
    color: #c1c7ff
    font-family: 'Titillium Web', sans-serif
    font-size: 0.9rem
    margin: 0 0 0.5rem 0
  .wrap
    padding: 2rem 0
    width: 570px
    display: block
  .blog
    width: 50%
    display: flex
    flex-direction: row
    justify-content: flex-end
    color: rgba(255,255,255,0.7)
    font-weight: bold
    background: $primary
    transition: 0.5s background
    .title
      font-size: 1.5rem
      font-weight: 400
      color: #fff
    .author, .date
      font-weight: 400
      color: #eaecff
    a
      width: 100%
      display: flex
      flex-direction: row
      justify-content: flex-end
      &:hover
        background: #5a65dd
        transition: 0.5s background
  .github
    width: 50%
    display: flex
    flex-direction: row
    align-content: center
    padding: 0 0 0 2rem
    .wrap
      display: flex
      flex-direction: column
      .items
        display: flex
        flex-direction: row
        justify-content: flex-start
        .item
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          padding: 0 4rem 0 0
          font-weight: 600
          color: #c1c7ff
          font-family: 'Titillium Web', sans-serif
          span
            font-size: 2rem
            line-height: 2rem
            color: #fff
          strong
            text-transform: uppercase
            font-size: 1rem

.content
  background: #fff

.quote
  font-style: italic
  color: #ff9d00
  font-weight: 300
  font-size: 2rem
  font-family: 'Titillium Web', sans-serif
  font-weight: 300
  position: relative
  border-left: 2px solid #f1f1f1
  padding: 0 0 0 2rem
  margin: -1rem 0 0 0

#summary
  background: #fff
  h3
    margin: 0 0 1rem 0
  .item
    padding: 5rem 0
    &.about
      padding-right: 3rem
    &.technology
      padding: 5rem 3rem
      border-right: 1px solid #eee
      border-left: 1px solid #eee
    &.transparency
      padding-left: 3rem

#publications
  background: #fff
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee
  a
    flex-direction: row
    padding: 4rem 0
    svg
      width: 5rem
      height: 5rem
      border-radius: 2.5rem
      padding: 1rem
      margin: 0 2rem 0 0
      fill: #2b2928
      background: #feb900
      transition: margin 0.5s
    p
      margin: 0
    h4, p
      color: #454545
    p
      font-weight: 400
  &:hover
    svg
      margin: 0 2.5rem 0 0
      transition: margin 0.5s

#projects
  background: #fff
  padding: 5rem 0
  .overview
    padding: 0 5rem
  .container
    padding: 0
  .status
    padding: 0.5rem
    display: flex
    cursor: pointer
    .circle
      display: inline-block
      width: 0.5rem
      height: 0.5rem
      border-radius: 0.25rem
      &.online
        background: #6bc507
      &.impaired
        background: #f3a009
      &.offline
        background: #e80303
  li
    &:not(:last-child)
      border-bottom: 2px solid #f1f1f1
    .block
      display: block
      padding: 2rem 0
      strong
        color: $primary
      p
        color: #32325d
    &.publications
      span
        width: 1.5rem
        height: 1.5rem
        border-radius: 0.75rem
        background: #f1f1f1
        font-weight: bold
        display: flex
        justify-content: center
        align-items: center
        margin: 0 0 0 0.5rem

// separate content pages
// about page
#about
  #intro
    .foreword
      font-size: 1.2rem

  #team
    background: #f1f1f1
    background-image: url("/assets/images/dot_pattern.svg")
    background-size: 100rem
    background-position-y: -20rem
    .member
      flex: 1
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      p
        border-top: 2px solid #f1f1f1
        padding: 2rem 0 0 0
        margin: 2rem 0 0 0
        width: 100%
      .linked-in
        position: absolute
        bottom: 5%
        right: 5%
        background: #fff
        border-radius: 100%
        padding: 0.25rem
        width: 2rem
        height: 2rem
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 2px 6px rgba(0,0,0,0.2)
        transition: all 1s
        transform: translateY(0)
        &:hover
          transition: all 1s
          transform: translateY(-0.25rem)
        svg
          fill: #0069ff
          height: 70%
          width: 60%
      span
        display: block
        margin: 0 auto 2rem auto
        width: 9rem
        height: 9rem
        position: relative
      img
        width: 100%
        height: auto
        display: block
        overflow: hidden
        border-radius: 100%
      h5, h3
        text-align: center
      h5
        text-transform: uppercase
        font-weight: bold
        font-size: 0.8rem
        background: #eee
        display: inline-block
        padding: 0.3rem 0.5rem
        line-height: 0.9rem
        border-radius: 0.25rem
        margin: 0

  #location
    svg
      width: 3rem
      height: auto
      margin: 0 0 1rem 0

// transparency page
#transparency
  #intro
    .foreword
      font-size: 1.2rem
  #ownership
    background: #f1f1f1
    background-image: url("/assets/images/dot_pattern.svg")
    background-size: 100rem
    background-position-y: -20rem
  #conduct
    p
      margin: 0 0 5rem 0
    svg
      width: 3rem
      height: auto
      margin: 0 0 1rem 0
// REM page
#rem
  .tg-bot
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
    a
      flex-direction: row
      padding: 4rem 0
      svg
        width: 5rem
        height: 5rem
        border-radius: 2.5rem
        padding: 1rem
        margin: 0 2rem 0 0
        fill: #2b2928
        background: #feb900
        transition: margin 0.5s
      p
        margin: 0
      h4, p
        color: #454545
      p
        font-weight: 400
    &:hover
      svg
        margin: 0 2.5rem 0 0
        transition: margin 0.5s
  .utils
    border-bottom: 1px solid #eee
    .item
      padding: 0 3rem
      &.benchmark
        padding-left: 0
      &.permissions
        padding-right: 0
      &.map
        border-right: 1px solid #eee
        border-left: 1px solid #eee
      a
        padding: 5rem 0
        p
          color: #454545
  .api
    padding: 5rem 0

// technology page
#technology
  #intro
    .foreword
      font-size: 1.2rem
  #links
    background: #f1f1f1
    background-image: url("/assets/images/dot_pattern.svg")
    background-size: 100rem
    background-position-y: -20rem
    .definitions
      margin: 5rem 0 0 0
      flex-direction: row
      padding: 2rem 0
      flex: 1
      .col-md-3
        padding: 0
      .wrap
        height: 100%
        padding: 0 2rem
        &:not(.github)
          border-right: 2px solid #f1f1f1
        .graphic
          width: 8rem
          height: auto
          margin: 0 auto -3rem auto
          display: block
          transform: translateY(-4.5rem)
          transition: 1s all
        &:hover
          .graphic
            transform: translateY(-5.5rem)
            transition: 1s all
  #security
    .wrap
      padding: 0 2rem
      h4
        text-align: center
      svg
        width: 40%
        margin: 0 auto
        display: block

#rem-benchmarks, #rem-permissions, #rem-map, #rem-polls, #rem-polls-new, #rem-polls-view
  .section
    padding: 2rem 0 5rem 0
  .toolbar
    border: 2px solid #f1f1f1
    border-radius: 0.5rem
    padding: 1rem
    margin: 0 0 1rem 0
    .logout
      margin: 0 0 0 1rem
    .new-poll
      margin: 0 0 0 auto
    .account
      margin: 0 2rem 0 0
      flex-direction: row
      justify-content: center
      & > div
        flex-direction: column
        justify-content: center
      h5
        margin: 0 0 0.25rem 0
        line-height: 1rem
        font-size: 1rem
      strong
        color: #787878
        line-height: 0.9rem
        font-size: 0.9rem
      svg
        width: 2.5rem
        height: 2.5rem
        margin: 0 0.5rem 0 0
    .pub
      margin: 0 0 0 1rem
      padding: 0 0.5rem
      flex: 1
      align-items: center
      border-radius: 0.25rem
      background: rgba(103, 114, 229, 0.1)
      transition: all 0.5s
      &:hover
        background: rgba(103, 114, 229, 0.08)
        transition: all 0.5s
      svg
        margin: 0 1rem 0 0
        fill: #5b63bf
    select, .badge
      margin: 0 1rem 0 0
    label
      margin: 0 0.5rem 0 0
    label, .count, .interval
      font-weight: bold
      color: #797979
  #legend
    ul
      padding: 0
      list-style: none
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      li
        flex: 0 0 20%
        .marker
          width: 0.5rem
          height: 0.5rem
          display: inline-flex
          border-radius: 0.25rem
  #warnings
    margin: 0 0 1rem 0
    li
      padding: 0.5rem
      background: #ffdc5f
      border: 2px solid #f1cd4f
      border-radius: 0.5rem
      color: #635a3c
      overflow: hidden
      p
        margin: 0
        a
          color: #635a3b
          svg
            fill: #635a3b
        a:hover
          color: #9c8e5c
          svg
            fill: #9c8e5c
  #result
    min-height: 18rem
    .placeholder
      padding: 0.25rem 0.5rem
      border-radius: 0.25rem
      background: rgba(44, 41, 41, 0.05)
      align-self: center
      svg
        fill: rgba(69, 69, 69, 0.7)
    .error
      padding: 0.25rem 0.5rem
      border-radius: 0.25rem
      background: rgba(214, 60, 35, 1)
      color: #fff
      align-self: center
      svg
        fill: #fff

#rem-permissions
  span.tag
    padding: 0.25rem 0.5rem
    background: #fbf9f9
    border-radius: 0.25rem
    margin: 0 1rem 0 0
    line-height: 1.1rem
    font-size: 1rem
    display: inline-flex
    transition: background-color 0.5s
    &.permission
      background: #6772e5
      color: #fff
      transition: background-color 0.5s
      &:hover
        background: #4654df
        transition: background-color 0.5s
    &.thresh
      color: #6772e5
    &:hover
      background: #f1f1f1
      cursor: pointer
      transition: background-color 0.5s
  ul
    list-style: none
    padding: 0
    margin: 0
    flex: 1
    &.branch
      border: 2px solid #f1f1f1
      padding: 0.5rem
      border-radius: 0.5rem
    li
      ~ li
        border-top: 2px solid #f1f1f1
        margin: 0.5rem 0 0 0
        padding: 0.5rem 0 0 0
      display: flex
      flex-direction: column
      > ul
        margin: 1rem 0 0 2rem
  strong
    min-width: 100px
  .wrap
    flex: 1
    .keys
      &:not(:last-child)
        margin-bottom: 1rem
      margin: 0 0 0 2rem
      li
        flex-direction: row
        white-space: nowrap
  .actions.tag
    margin: 0
    li
      border: none
      margin: 0
      padding: 0

#rem-map
  #map
    position: relative
    #map-svg
      width: 100%
      height: auto
    svg
      path
        fill: rgb(241, 241, 241)
        stroke: rgba(120, 120, 120, 0.25)
        stroke-width: 1.5
        outline: none
    #producing-placeholder
      position: absolute
      left: 50%
      top: 50%
      background: #fff
      padding: 0.25rem 0.5rem
      border-radius: 0.5rem
      border: 2px solid #a8a9bd
      transform: translate(-50%, -50%) translateY(0rem)
      color: #888998
      opacity: 1
      box-shadow: 0 0.55rem 1rem 0 rgba(0, 0, 0, 0.15)
      transition: all 0.5s
      z-index: 20
      &.hidden
        display: block
        opacity: 0
        transform: translate(-50%, -50%) translateY(-1rem)
        transition: all 0.5s
    #markers
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      .marker
        position: absolute
        top: 0
        left: 0
        display: block
        width: 0.5rem
        height: 0.5rem
        border-radius: 0.25rem
        stroke-width: 0px
        background: #a8a9bd
        transform: translate(-50%, -50%)
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1)
        .popover
          pointer-events: none
          z-index: 5
          opacity: 0
          transition: all 0.5s
          transform: translate(calc(-50% + 0.25rem), calc(-100%))
          h5
            margin: 0
            font-size: 1rem
          span
            white-space: nowrap
          .arrow
            transform: translateX(-50%)
            margin: 0 0 0 50%
            &::after
              bottom: 2px
        &[data-type="producer"]
          z-index: 3
        &[data-type="seed"]
          z-index: 2
        &[data-type="full"]
          background: #ffba00
          z-index: 1
        &.hidden
          display: none
        &.active
          background: #6772e5
          &.producing
            z-index: 4
            background: #6bc507
            &::after
              top: -0.25rem
              left: -0.25rem
              display: block
              content: ""
              position: absolute
              transform: translate(-100%, -100%)
              width: 1rem
              height: 1rem
              border-radius: 1rem
              animation: PULSE 0.5s infinite
              background: #6bc507
              z-index: -1
        &.producing, &:hover
          .popover
            z-index: 6
            opacity: 1
            transition: all 0.5s
            transform: translate(calc(-50% + 0.25rem), calc(-100% - 0.75rem))

#rem-polls
  .poll
    flex-direction: row
    justify-content: space-between
    padding: 1rem
    border: 2px solid #f1f1f1
    border-radius: 0.5rem
    color: #787878
    transition: all 0.5s
    &:not(:last-of-type)
      margin: 0 0 1rem 0
    &:hover, &:focus
      border-color: #6772e5
      transition: all 0.5s
      outline: none
    label
      font-family: "Titillium Web", sans-serif
      font-weight: 600
      color: #454545
      display: block
      margin: 0
      display: flex
    .subject
      width: 50%

#rem-polls-new
  .error
    display: block
    margin: 0 0 1rem 0
    border-radius: 0.5rem
    padding: 0.5rem
    color: #fff
    background: #e43f00
    font-weight: bold
  label
    font-family: "Titillium Web", sans-serif
    font-weight: 600
    display: flex
    svg
      margin: -0.2rem 0 0 0.5rem
      fill: #b1b1b1
  .form-group
    margin: 0 0 1.5rem 0
    &.option
      margin: 0 0 0.5rem 0
      input
        margin: 0
  .inputs
    display: flex
    flex-direction: column
    input
      margin-bottom: 1.5rem
    textarea
      margin-bottom: 1.5rem
  .settings
    .expiration
      flex-direction: row
      .switch
        margin: 0 1rem 0 0
  .submit-wrap
    border-top: 2px solid #f1f1f1
    margin: 1.5rem 0 0 0
    padding: 1.5rem 0 0 0

#rem-polls-view
  .summary
    display: flex
    flex-direction: column
    border: 2px solid #f1f1f1
    padding: 1rem
    border-radius: 0.5rem
    margin: 2rem 0
    .stats
      display: flex
      flex-direction: row
      justify-content: space-between
      border-bottom: 2px solid #f1f1f1
      margin: 0 0 1rem 0
      padding: 0 0 1rem 0
      label
        font-family: "Titillium Web", sans-serif
        font-weight: 600
        margin: 0
        display: flex
        svg
          margin: -0.2rem 0 0 0.5rem
          fill: #b1b1b1
    .chart
      height: 10rem
      overflow: hidden
  .subject
    h2
      margin: 0 0 1rem 0
    div
      white-space: pre-wrap
      margin: 0 0 1rem 0
  .vote
    border: 2px solid #f1f1f1
    border-radius: 0.5rem
    .heading
      background: #f1f1f1
      padding: 1rem
      align-items: baseline
      display: flex
      label
        font-family: "Titillium Web", sans-serif
        font-weight: 600
        margin: 0 0.5rem 0 0
    form
      padding: 1rem
      .option
        border-bottom: 2px solid #f1f1f1
        padding-bottom: 1rem
        margin-bottom: 1rem
        label
          display: block
    .result
      padding: 1rem
      label
        font-family: "Titillium Web", sans-serif
        font-weight: 600
        margin: 0 0.5rem 0 0
      svg
        fill: #6bc507
        margin: 0 0 0 0.5rem
      &:not(:last-of-type)
        border-bottom: 2px solid #f1f1f1
      .base
        width: 100%
        background: #f1f1f1
        border-radius: 0.25rem
        .bar
          height: 0.25rem
          background: #6772e5
          margin: 0.5rem 0 0 0
          padding: 0.25rem
          border-radius: 0.25rem

@keyframes PULSE
  0%
    opacity: 1
    transform: scale(0)
  100%
    opacity: 0
    transform: scale(3)
/* -----------------------------
  FOOTER
  ----------------------------- */
footer
  padding: 5rem 0
  background: #2c2929
  color: #736b63

  a
    color: #736b63

  a:hover
    color: #f1f1f1

  h5
    padding: 0 1rem
    text-transform: uppercase
    font-size: 0.9rem
    color: #c7c3bc

  ul
    list-style: none
    padding: 0

  svg
    width: 5rem
    height: auto
    fill: #ffba00
    margin-bottom: 1rem

/* -----------------------------
  MEDIA QUERIES
  ----------------------------- */
@include media-breakpoint-down(md)
  header
    #decor
      #triangle
        right: -20rem
      #remme
        right: -7rem
      #cube1
        display: none
      #cube2
        display: none

@include media-breakpoint-down(sm)
  .vote-for-us
    .col-12
      padding-left: 2rem
      padding-right: 2rem

  header
    #decor
      #triangle
        right: -33rem
      #remme
        display: none

  #banner
    padding: 1rem 0 5rem 0
    h1
      font-size: 3rem
    .cta-wrap
      justify-content: center
      #cta
        display: block
        width: 12rem
  .section
    padding: 5rem 0

  .quote
    border: none
    margin: 2rem 0 0 0
    padding: 0

  #highlight
    flex-direction: column
    .blog, .github
      width: 100%
      padding: 0
    .blog
      border-bottom: 1px solid #747fe6
      .title
        font-size: 1.25rem
      .author, .date
        font-size: 0.9rem
    .github
      .wrap
        .items
          justify-content: space-between
          .item
            padding: 0
    .wrap
      padding: 2rem

  #summary
    .container
      .item
        border-left: none
        border-right: none
        padding: 2rem
        &.technology
          border-top: 1px solid #eee
          border-bottom: 1px solid #eee

  #technology
    #links
      .definitions
        .wrap
          margin: 0 0 8rem 0
          &:not(.github)
            border: none
          &.github
            margin: 0
    #security
      .wrap
        margin: 0 0 3rem 0
        svg
          width: 60%
        h4
          text-align: left

  #publications
    a
      text-align: center
      flex-direction: column
      padding: 2rem
      svg
        width: 4rem
        height: 4rem
        border-radius: 2rem
        margin: 0 0 1rem 0
    &:hover
      svg
        margin: 0 0 1rem 0

  #projects
    padding: 2rem
    .overview
      padding: 0 1rem
      .btn
        width: 100%

  #rem
    .tg-bot
      a
        text-align: center
        flex-direction: column
        padding: 2rem
        svg
          width: 4rem
          height: 4rem
          border-radius: 2rem
          margin: 0 0 1rem 0
      &:hover
        svg
          margin: 0 0 1rem 0
    .utils
      padding: 3rem 0
      border-bottom: 1px solid #eee
      .item
        padding: 0 2rem
        &.benchmark
          padding-left: 2rem
        &.map
          border-top: 1px solid #eee
          border-bottom: 1px solid #eee
        a
          padding: 2rem 0
    .api
      padding: 5rem 0
      p
        margin: 0
      .col-12
        padding: 0 2rem

  #rem-benchmarks
    form.toolbar
      select
        margin: 0 1rem 0 0
      .btn.toggle
        margin: 0
      select, .btn.toggle
        flex: 1
    #legend
      padding-top: 1rem
      ul
        justify-content: space-between
        li
          flex: none
          width: 40%

  #rem-permissions
    form.toolbar
      .btn
        margin: 0
      .pub
        margin: 1rem 0 0 0
        padding: 0.5rem
    .branch
      max-width: 100%
      li
        overflow: hidden
        > .d-flex
          flex-direction: column
          .keys
            margin-top: 1rem
          .actions
            margin: 1rem 0 0 2rem

  footer
    .copyright
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      padding: 0 0 2rem 0
    ul.nav
      margin: 0 0 2rem 0

  #chart
    select.form-control, .btn.toggle
      width: auto
      flex-grow: 1

#mobile-toggle
  border: none
  background: rgba(255,255,255,0)
  z-index: 1000
  &:focus
    outline: none
  svg
    width: 4rem
    height: auto
    .upper, .lower, .middle
      stroke: #454545
      stroke-width: 4px
      stroke-linecap: round
      fill: transparent
      transition: 0.25s ease-in-out stroke-dashoffset, stroke-dasharray, stroke
    .middle
      stroke-dasharray: 40
      stroke-dashoffset: 0
    .upper
      stroke-dasharray: 250
      stroke-dashoffset: 210
    .lower
      stroke-dasharray: 360
      stroke-dashoffset: 320
  &.open
    svg
      .upper, .lower, .middle
        stroke: #fff
        transition: 0.25s stroke-dashoffset, stroke-dasharray, stroke
      .upper
        stroke-dasharray: 50 300
        stroke-dashoffset: -222
      .middle
        stroke-dasharray: 100
        stroke-dashoffset: -40
      .lower
        stroke-dasharray: 50 300
        stroke-dashoffset: -281

#mobile-nav
  z-index: 100
  width: 100%
  height: 100vh
  background: $primary
  position: fixed
  top: 0
  transform: translateX(100%)
  opacity: 0
  will-change: opacity, transform
  transition: 0.5s all
  .navbar-nav
    padding: 6rem 4rem 4rem 4rem
    a
      color: #fff
      font-family: 'Titillium Web', sans-serif
      font-weight: 400
      font-size: 1.8rem
      line-height: 2rem
      margin: 0 0 1rem 0
      &.active, &:hover
        color: #ffba00

#mobile-nav.show
  transform: translateX(0)
  opacity: 1
  will-change: opacity, transform
  transition: 0.5s all

/* -----------------------------
  BREADCRUMBS
  ----------------------------- */
.breadcrumb
  background: transparent
  margin: 0
  li
    font-size: 0.8rem
    font-weight: bold
    margin-right: 0.5rem
    &:not(:last-of-type)
      &::after
        margin: 0 0 0 0.4rem
        content: "/"
        color: #f1f1f1
    a
      font-weight: bold
/* -----------------------------
  SWITCH
  ----------------------------- */
input.switch
  position: relative
  -webkit-appearance: none
  outline: none
  width: 4rem
  height: calc(1.5em + 0.75rem + 4px)
  background-color: #fff
  border: 2px solid #6c747d
  border-radius: 0.35rem
  display: flex
  align-items: center
  padding: 0.25rem
  transition: all 0.5s
  &:focus
    box-shadow: 0 0 0 0.2rem rgba(103, 114, 229, 0.25)
    border-color: #6772e5
  &:after
    content: ""
    position: absolute
    background: #fff
    width: 1.75rem
    transform: translateX(0)
    height: 1.75rem
    border: 2px solid #6c747d
    border-radius: 0.25rem
    transition: all 0.5s
  &.switch:checked
    background: #6772e5
    transition: all 0.5s
    border-color: #6772e5
  &.switch:checked:after
    transform: translateX(calc(4rem - 2.25rem - 2px))
    transition: all 0.5s
    border-color: #6772e5

/* -----------------------------
  TOASTR
  ----------------------------- */
#toast-container
  top: 1rem
  right: 1rem
  .toast
    background-color: #fff
    background-image: none
    padding: 1rem
    border: 2px solid #a8a9bd
    color: #888998
    border-radius: 0.5rem
    transition: all 0.5s
    width: 19rem
    box-shadow: 0 0.55rem 1rem 0 rgba(0, 0, 0, 0.15)
    &:hover
      box-shadow: 0 0.55rem 1rem 0 rgba(0, 0, 0, 0.15)
      transition: all 0.5s
    .toast-title
      color: #888998
    .toast-message
      color: #888998
/* -----------------------------
  ANIMATIONS
  ----------------------------- */
.from-left-slide-fade
  will-change: transform, opacity
  animation: 2s ease-out forwards slide-in-from-left, 2s ease-out forwards fade-in

.from-right-slide-fade
  will-change: transform, opacity
  animation: 2s ease-out forwards slide-in-from-right, 2s ease-out forwards fade-in

[class*="delay"]
  opacity: 0

.delay-1
  animation-delay: 1s

.delay-2
  animation-delay: 2s

.delay-3
  animation-delay: 3s

.delay-4
  animation-delay: 4s

@keyframes remme-hover
  0%
    transform: translateY(0rem) rotateZ(360deg)
  50%
    transform: translateY(7rem) rotateZ(360deg)
  100%
    transform: translateY(0rem) rotateZ(360deg)

@keyframes cube1-hover
  0%
    transform: translateY(0rem) rotateZ(360deg) rotate(-30deg)
  50%
    transform: translateY(6rem) rotateZ(360deg) rotate(-30deg)
  100%
    transform: translateY(0rem) rotateZ(360deg) rotate(-30deg)

@keyframes cube2-hover
  0%
    transform: translateY(0rem) rotateZ(360deg) rotate(30deg)
  50%
    transform: translateY(4rem) rotateZ(360deg) rotate(30deg)
  100%
    transform: translateY(0rem) rotateZ(360deg) rotate(30deg)

@keyframes stroke-animation
  0%
    stroke-dashoffset: 0
  100%
    stroke-dashoffset: 100

@keyframes triangle-animation
  from
    transform: translateX(100%) translateY(-42%) rotateZ(360deg) rotate(10deg)
  to
    transform: translateX(28%) translateY(-42%) rotateZ(360deg) rotate(-65deg)

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes slide-in-from-left
  from
    transform: translateX(-2rem) rotateZ(360deg)
  to
    transform: translateX(0rem) rotateZ(360deg)

@keyframes slide-in-from-right
  from
    transform: translateX(2rem) rotateZ(360deg)
  to
    transform: translateX(0rem) rotateZ(360deg)