<div id="about" class="content">

	<div class="section" id="intro">
		<div class="container">
			<h1>About</h1>
			<div class="row">
				<div class="col-12 col-md-7">
					<p class="foreword">Eon was created to lead by example. Our mission is to set the standard in technology, design and transparency for all REM block producers. Decentralized finance means nothing without decentralized security. Remme is creating the very foundation of decentralized security services and our mission is to support them in every way. </p>
				</div>
				<div class="col-12 col-md-4 offset-md-1">
					<p class="quote">Decentralized finance means nothing without decentralized security.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="team">
		<div class="container">
			<h2 class="text-center">Core Team</h2>
			<div class="row justify-content-center">
				<div class="col-12 col-md-4 d-flex">
					<div class="member card">
						<span>
							<img src="/assets/images/team/serg.jpg" alt="Serg Chernata">
							<a href="https://www.linkedin.com/in/sergchernata/" class="btn linked-in" target="_blank">
								<svg xmlns="//www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="linkedin" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path></svg>
							</a>
						</span>
						<h3>Sergey Chernata</h3>
						<h5>Founder</h5>
						<p>Serg is a serial entrepreneur with cross-disciplinary background in design, marketing &amp; programming. Currently focusing on personal business ventures, including Eon, he has previously spent 7 years leading technology and design at an international healthy food company.</p>
					</div>
				</div>
				<div class="col-12 col-md-4 d-flex">
					<div class="member card">
						<span>
							<img src="/assets/images/team/don.jpg" alt="Donsun Nadeau">
							<a href="https://www.linkedin.com/in/donsun-nadeau-76a160165/" class="btn linked-in" target="_blank">
								<svg xmlns="//www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="linkedin" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path></svg>
							</a>
						</span>
						<h3>Donsun Nadeau</h3>
						<h5>Head of Finance</h5>
						<p>Don is a Contracts Manager for the Department of Defense and a USAF Veteran. He has over 6 years of contracting experience, including the management of cutting edge R&amp;D, with total awards over $1.2 Billion in Air Force contracts. He holds a Masters of Finance from Harvard University.</p>
					</div>
				</div>
				<div class="col-12 col-md-4 d-flex">
					<div class="member card">
						<span>
							<img src="/assets/images/team/eli.jpg" alt="Elias Fogarty">
							<a href="https://www.linkedin.com/in/elias-fogarty-60ba1675/" class="btn linked-in" target="_blank">
								<svg xmlns="//www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="linkedin" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path></svg>
							</a>
						</span>
						<h3>Elias Fogarty</h3>
						<h5>Network Architect</h5>
						<p>Eli is an Electrical Engineer who has worked in Aviation, Nuclear Power and Telecommunications. He has overseen purchasing and deployment of network hardware at Verizon Wireless for over 4 years to support programs including 5G rollout, with experience in programming, database administration and business analytics.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="location">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md-5">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><path class="purple-fill" d="M36 0C24.1 0 14.5 9.6 14.5 21.5 14.5 43 36 72 36 72s21.5-27.7 21.5-50.5C57.5 9.6 47.9 0 36 0zm0 30.4c-4.8 0-8.8-3.9-8.8-8.8 0-4.8 3.9-8.8 8.8-8.8 4.8 0 8.8 3.9 8.8 8.8 0 4.8-4 8.8-8.8 8.8z"/></svg>
					<h3>Location</h3>
					<p>Strategically located in Connecticut, a short ride away from Remme headquarters in Boston to one side and New York to the other. We are ideally positioned to represent the US East branch of REM chain network. Our AWS infrastructure will be hosted within the us-east region as well.</p>
				</div>
				<div class="col-12 col-md-5">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><g id="team"><circle class="purple-fill" cx="36" cy="13.3" r="13.3"/><path class="purple-fill" d="M60.5 72c-4 0-7.3-3.3-7.3-7.3 0-9.5-7.7-17.2-17.2-17.2s-17.2 7.7-17.2 17.2c0 4-3.3 7.3-7.3 7.3s-7.3-3.3-7.3-7.3c0-17.5 14.3-31.8 31.8-31.8s31.8 14.3 31.8 31.8c0 4-3.3 7.3-7.3 7.3z"/></g></svg>
					<h3>Team</h3>
					<p>We are prepared to scale the team in parallel with network growth. As REM chain mainnet launches and matures, we will onboard additional developers and experts in their respective fields. Our professional network spans multiple countries and continents.</p>
				</div>
			</div>
		</div>
	</div>

</div>