<div id="blog" class="hide">
	<a href="" target="_blank" rel="noopener noreferrer">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
					Latest Blog Post:<span></span>
				</div>
			</div>
		</div>
	</a>
</div>

<div id="about" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-7 text-center">
				<h2>About Us</h2>
				<p>Eon strives to be the most transparent block producer on REM chain. Involved in Remme community from the very beginning, we strive to contribute with integrity and honesty in mind.</p>
				{{#link-to "about"}}
					Get to know us
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
		</div>
	</div>
</div>

<div id="tech" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-7 text-center">
				<h2>Technology</h2>
				<p>Hosted on AWS, we develop our infrastructure and code in accordance with best industry practices. Security and decentralization are the underlying principles of our philosophy.</p>
				{{#link-to "technology"}}
					Technology that powers us
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
		</div>
	</div>
</div>

<div id="transparency" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-7 text-center">
				<h2>Transparency</h2>
				<p>Our infrastructure as code makes it possible for anyone to verify the design and security of our architecture. In addition, all of the code we ever produce as part of our duties will be made public and open source.</p>
				{{#link-to "transparency"}}
					Our guiding principles
					<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="path" d="M2.4 12h19.2M13.7 6l4 3 3.9 3-3.9 3-4 3"/></svg>
				{{/link-to}}
			</div>
		</div>
	</div>
</div>